<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partecipa a un Evento</title>
    <link rel="stylesheet" href="/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	    <div style="text-align: center; margin: 10px;">
        <a href="/wine-tasting" class="button">Home</a>
        <% if (locals.userId) { %>
            <a href="/logout" class="button">Logout</a>
        <% } %>
    </div>
    <div class="container">
        <h1>Partecipa a un Evento</h1>
        <form action="/api/events/join" method="post">
            <input type="text" name="eventId" placeholder="Inserisci ID Evento" required>
            <input type="submit" value="Partecipa">
        </form>
    </div>
</body>
</html>